<%- include("header") -%>

<h1 style="text-align:center; color: grey">This is about Page</h1>

<p style="color:grey;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum accusantium fugit animi inventore odit omnis natus, 
    porro ad, sapiente maxime reprehenderit sequi sunt rerum. Reprehenderit libero vero reiciendis id aspernatur eos distinctio
     delectus suscipit, architecto in eaque error aliquid tempora. Voluptatum eum cumque corrupti incidunt dolore recusandae
     adipisci. Reiciendis, fuga?</p>


<%- include("footer") -%>